.section-description {
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}

.description {
  text-transform: uppercase;
  font-weight: 300;
}

.text-bold {
  font-weight: bold;
}

.tech-stack {
  max-width: 60rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 2.5rem;
}

.tech-stack-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--default-background-color);
}

.tech-stack-item i {
  font-size: 5rem;
  opacity: 0.5;
}

.dark-theme .tech-stack-item i {
  opacity: 0.8;
}

.tech-stack-item::before,
.tech-stack-item::after {
  position: absolute;
  top: -1rem;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.tech-stack-item::before {
  content: "";
  border: 1rem solid transparent;
  border-top-color: var(--default-text-color);
  transform: translateY(0);
  z-index: 5;
}

.tech-stack-item::after {
  content: attr(data-tooltip);
  width: max-content;
  background-color: var(--default-text-color);
  color: var(--default-background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.tech-stack-item:hover::before {
  opacity: 1;
  transform: translateY(-0.6rem);
}

.tech-stack-item:hover::after {
  opacity: 1;
  transform: translateY(calc(-100% + -0.5rem));
}

@media screen and (min-width: 768px) {
  .section-description {
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
  }

  .description {
    font-size: 2.4rem;
  }
}
