.section {
  padding-block: var(--section-vertical-spacing);
  position: relative;
  overflow: hidden;
}

.section:not(.hero)::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vw;
  background-color: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 101, 118, 0.08) 0%,
    rgba(255, 101, 118, 0) 100%
  );
  z-index: -1;
}

.title {
  font-family: var(--title-font-family);
  font-weight: 300;
  text-transform: uppercase;
}

.main-title {
  font-size: clamp(5rem, 10vw, 10rem);
  z-index: 1;
  text-align: center;
  line-height: 1.2;
}

/************************************/

:root {
  --translate-x: 0%;
  --translate-y: 0%;
}

/************************************/
/* STARS FEATURE */
/************************************/
.stars-overflow {
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  overflow: hidden;
  height: 1200px;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: startsOrbit;
  transform: translate(-50%, -50%);
  animation-timeline: auto;
  animation-range-start: normal;
}

.star-animation {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  border-radius: 5px;
  background-color: var(--default-text-color);
  animation-name: blackHoleAttraction;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes starsInit {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* this animation makes the starts go to the center of the black hole */
@keyframes blackHoleAttraction {
  0% {
    opacity: 1;
    transform: translateZ(0) translate(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateZ(0) translate(var(--translate-x), var(--translate-y))
      scale(0.7);
    top: var(--translate-y);
    left: var(--translate-x);
  }
}

@keyframes startsOrbit {
  0% {
    transform: translateZ(0) translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translateZ(0) translate(-50%, -50%) rotate(-2500deg);
  }
}

/* BLACK HOLE STUFF */

.black-hole-wrapper {
  z-index: -99;
  display: flex;
  justify-content: center;
  animation-name: blackHoleInit;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  transition-timing-function: ease-out;
}

@keyframes blackHoleInit {
  0% {
    opacity: 0;
    transform: scale(1.6);
  }

  30% {
    opacity: 1;
  }

  97% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(1);
  }
}

.shadow {
  width: 20vw;
  height: 20vw;
  background-color: var(--black-hole-color);
  border-radius: 100%;
  grid-area: shadow;
  box-shadow: 4px 6px 20px 2px var(--black-hole-color);
  z-index: 5;
  animation: shadow 2s ease-in-out 0.5s infinite alternate;
}

@keyframes shadow {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(50deg);
  }
  70% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
