.title {
    font-family: var(--title-font-family);
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .main-title {
    font-size: clamp(5rem, 10vw, 10rem);
    text-align: center;
    line-height: 1.2;
  }
  
  .inline-image {
    width: 7rem;
    height: 7rem;
    background: url(../images/statue_hero.png) top center no-repeat;
    background-size: cover;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    margin: 0 1.5rem;
  }
  
  .dark-theme .has-sparkles::before,
  .dark-theme .has-sparkles::after {
    background: url(../images/sparkle_light.png) center no-repeat;
    background-size: cover;
  }
  
  .inline-image.has-sparkles::before {
    width: 1rem;
    height: 1rem;
    top: -0.5rem;
    right: -0.5rem;
  }
  
  .inline-image.has-sparkles::after {
    width: 0.8rem;
    height: 0.8rem;
    bottom: 1rem;
    right: -1.5rem;
  }
  
  .has-sparkles-alt::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 5vw;
    max-width: 5rem;
    height: 5vw;
    max-height: 5rem;
    background: url(../images/sparkle_alt.png) center no-repeat;
    background-size: cover;
  }
  
  .dark-theme .has-sparkles-alt::after {
    background: url(../images/sparkle_alt_light.png) center no-repeat;
    background-size: cover;
  }