.page-glow {
  z-index: -9;
  width: 100%;
  position: absolute;
  height: 150px;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--default-text-color);
  border-radius: 2px;
  filter: blur(200.56051635742188px);
  opacity: 0.7;
}
