
.section-title-container {
    display: inline-block;
    margin-bottom: 5rem;
  }
  
  .section-title {
    font-size: clamp(4rem, 10vw, 8rem);
  }
  
  .section-subtitle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
  }
  
  .subtitle-number {
    width: 5rem;
    height: 5rem;
    border: 2px solid var(--default-text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subtitle-number.has-sparkles::before,
  .subtitle-number.has-sparkles::after {
    width: 1rem;
    height: 1rem;
  }
  
  .subtitle-number.has-sparkles::before {
    top: -0.5rem;
    right: -0.5rem;
  }
  
  .subtitle-number.has-sparkles::after {
    bottom: -0.5rem;
    left: -0.5rem;
  }
  
  .section-subtitle {
    font-size: clamp(2rem, 5vw, 4rem);
  }
  
  .portfolio-cards {
    gap: 2.5rem;
  }
  
  .card-image {
    height: 30rem;
    background-color: #b3bbce;
    margin-bottom: 2.5rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1rem;
  }
  
  .portfolio-card:hover .card-image,
  .portfolio-card:focus .card-image {
    background-color: #ff7575;
  }
  
  .card-heading {
    color: var(--default-text-color);
  }
  
  .card-title {
    font-size: 2rem;
  }
  
  .card-subtitle {
    font-size: 1.4rem;
    opacity: 0.8;
  }
  
  .large-button-container {
    display: flex;
  }
  
  .large-button {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--title-font-family);
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    color: var(--default-text-color);
  }
  
  .button-fill {
    position: relative;
    outline: 2px solid var(--default-text-color);
    transition: color 0.25s;
    overflow: hidden;
  }
  
  .button-fill:hover {
    color: var(--default-background-color);
  }
  
  .button-fill::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--default-text-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
  .large-button.button-fill::before {
    border-radius: 50%;
  }
  
  .button-fill:hover::before,
  .button-fill:focus::before {
    transform: scale(1);
  }