.about-me-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  column-gap: 2rem;
}

.about-me-picture {
  border-radius: 5rem;
  box-shadow: 0 2px 4px rgba(27, 27, 27, 0.1);
}

.about-me-description {
  padding: 2rem 0;
}

.about-me-footer {
  margin-bottom: 1rem;
}

.article-redirection {
  text-decoration: underline;
}

.message-me-data-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.lower-section-data-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.message-me > h4 {
  margin-bottom: 1rem;
}

/* ************************** */
.about-page-wrapper {
  background-color: var(--default-background-color);
  color: var(--default-text-color);
  transition: 0.4s;
  height: 100vh;
}

.section-description {
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}

.description {
  text-transform: uppercase;
  font-weight: 300;
}

.text-bold {
  font-weight: bold;
}

.description-image {
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  transform: rotate(25deg);
}

.description-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description-image.has-sparkles::before,
.description-image.has-sparkles::after {
  width: 2rem;
  height: 2rem;
}

.description-image.has-sparkles::before {
  top: 2rem;
  right: 1rem;
}

.description-image.has-sparkles::after {
  top: 10rem;
  right: -1rem;
}

.tech-stack {
  max-width: 60rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 2.5rem;
}

.tech-stack-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--default-background-color);
}

.tech-stack-item i {
  font-size: 5rem;
  opacity: 0.5;
}

.dark-theme .tech-stack-item i {
  opacity: 0.8;
}

.tech-stack-item::before,
.tech-stack-item::after {
  position: absolute;
  top: -1rem;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.tech-stack-item::before {
  content: "";
  border: 1rem solid transparent;
  border-top-color: var(--default-text-color);
  transform: translateY(0);
  z-index: 5;
}

.tech-stack-item::after {
  content: attr(data-tooltip);
  width: max-content;
  background-color: var(--default-text-color);
  color: var(--default-background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.tech-stack-item:hover::before {
  opacity: 1;
  transform: translateY(-0.6rem);
}

.tech-stack-item:hover::after {
  opacity: 1;
  transform: translateY(calc(-100% + -0.5rem));
}

.download-resume-btn {
  background-color: var(--default-text-color);
  color: var(--default-background-color);
  /* border: 1px solid red; */
  border-radius: 0.8rem;
  padding: 1rem;
  margin: 2rem 0;
  transition: 0.4s ease;
}

.download-resume-btn:hover {
  box-shadow: 0px 0px 12px 0px rgb(42, 62, 190);
}

@media screen and (max-width: 700px) {
  .about-me-wrapper {
    display: flex;
    flex-direction: column;
  }

  .profile-picture {
    width: 50%;
    margin: 0 auto;
  }
}
