.projects-page-wrapper {
    background-color: var(--default-background-color);
    color: var(--default-text-color);
    transition: 0.4s;
    min-height: 100vh;
  }
  
  .main-title-projects {
    font-size: 4rem;
    text-align: center;
    margin: 3rem 0;
  }
  
  .disclaimer {
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  